.radio-group-type {
  display: flex;
  background-color: var(--input-base);
  padding: 4px;
  border-radius: 8px;
  border: 1px solid var(--input-stroke);
}

.radio-group-type input {
  display: none;
}

.radio-group-type label {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  font: var(--text-body-sm-bold);
  color: var(--input-placeholder);
  transition: 0.2s;
}

.radio-group-type label img {
  width: 1rem;
  height: 1rem;
  object-fit: contain;
}

.radio-group-type input:checked+label {
  background-color: var(--shape-hover);
  color: var(--color-heading);
}

.radio-group-type input:checked+label img {
  display: none;
}

.radio-group-type input:checked+label::before {
  content: "";
  width: 1rem;
  height: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.radio-group-type #presencial:checked+label::before {
  background-image: url(../../assets/icons/building-2-hover.svg);
}

.radio-group-type #online:checked+label::before {
  background-image: url(../../assets/icons/video-hover.svg);
}

.btn-primary {
  width: 177px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  padding: 0;

  border-radius: 8px;
  border: none;
  background-color: var(--brand-dark);
  font: var(--text-body-md-bold);
  color: var(--color-heading);
  cursor: pointer;
  transition: background 0.2s;

  margin-top: 2rem;
  margin-left: auto;
  margin-bottom: 80px;
}

.btn-primary:hover {
  background-color: var(--brand-light);
}

.btn-primary img {
  width: 1.5rem;
  height: 1.5rem;
}