.checkbox-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
  margin-bottom: 0.75rem;
  position: relative;

  &:first-of-type {
    border-top: 1px solid var(--input-stroke);
    padding-top: 2.5rem;
    margin-top: 2rem;
    width: 100%;
  }

  &:last-of-type {
    padding-bottom: 3rem;
  }

  & input[type="checkbox"] {
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid var(--input-stroke);
    border-radius: 4px;
    background-color: var(--input-base);
    cursor: pointer;
    display: grid;
    place-content: center;
    transition: all 0.2s;

    &:checked {
      border-color: var(--brand-mid);
      background-image: url(../../assets/icons/check.svg);
      background-size: 1rem;
      background-repeat: no-repeat;
      background-position: center;

      &::before {
        display: none;
      }
    }
  }

  & label {
    font: var(--text-body-sm-bold);
    color: var(--color-body);
    line-height: 1.25rem;
    cursor: pointer;
  }

  & a {
    color: var(--brand-light);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.toggle-switch {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  height: 3rem;

  & input {
    display: none;

    &:checked {
      & + label {
        background-color: var(--brand-light);

        &::after {
          left: calc(100% - 4px);
          transform: translate(-100%, -50%);
          background-color: var(--color-heading);
        }
      }

      & ~ span::after {
        content: "Claro";
      }
    }
  }

  & label {
    width: 3.5rem;
    height: 2rem;
    background-color: var(--shape-button);
    border: 1px solid var(--input-stroke);
    border-radius: 99px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 4px;
      width: 1.5rem;
      height: 1.5rem;
      background-color: var(--input-placeholder);
      border-radius: 50%;
      transition: 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
    }
  }

  & span {
    font: var(--text-body-md);
    color: var(--color-body);

    &::after {
      content: "Escuro";
      font: var(--text-body-md);
      color: var(--color-body);
    }
  }
}