@import url(./fields/index.css);

fieldset {
  border: none;
  margin-bottom: 3rem;
}

legend {
  font: var(--text-heading-sm);
  color: var(--color-heading);
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  width: 100%;
  padding-bottom: 0.75rem;
  line-height: 1;

  & img {
    width: 20px;
    height: 20px;
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;

  & label {
    font: var(--text-body-sm-bold);
    color: var(--color-body);
  }
}