#app {
  display: grid;
  grid-template-columns: 400px 1fr;
  height: 100vh;

  & aside {
    margin: 20px;
    background-image: url(../assets/Background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 12px;
    padding: 32px;

    .aside-container {
      height: 100%;
      display: flex;
      flex-direction: column;

      & header {

        img {
          margin-bottom: 16px;
          width: 45.85px;
          height: 48px;
        }

        h1 {
          font: var(--text-logo);
          color: var(--accent-colors-pink);
          margin-bottom: 12px;
        }

        p {
          font: var(--text-body-md);
          color: var(--color-heading);
        }
      }
    }
  }
}