#app {
  display: grid;
  grid-template-columns: 480px 1fr;
  height: 100vh;

  & aside {
    margin: 20px;
    background-image: url(../assets/Background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 12px;
    padding: 32px;

    .aside-container {
      height: 100%;
      display: flex;
      flex-direction: column;

      & header {
        img {
          width: 45.85px;
          height: 48px;
          margin-bottom: 16px;
        }

        h1 {
          font: var(--text-logo);
          color: var(--accent-colors-pink);
          margin-bottom: 16px;
        }

        p {
          font: var(--text-body-md);
          color: #F9F9F9;
        }
      }
    }
  }

  & main {
    background-color: var(--shape-body);
    padding: 40px 64px;
    overflow-y: auto;

    header h2 {
      font: var(--text-heading-md);
      color: var(--color-heading);
      margin-bottom: 2rem;
    }
  }

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    height: auto;
    overflow: auto;

    & aside {
      padding: 2rem;
      display: none;
    }

    & main {
      border-radius: 0;
      padding: 2rem;
    }
  }
}